{% extends 'task1/menu.html' %}
{% load static %}

{% block title %} Buy Games in 1998 {% endblock %}

{% block header%}
<h1><b>Игры 1998</b></h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
<ul>
    {% for game in games %}
        <li>
            <strong> {{ game.title }} </strong>| {{ game.description }}. Стоимость: {{ game.cost }}
            <button>Купить</button>
            <br>
            <img src="/static/images/{{ game.title }}.jpg" height="240" width="320">
        </li>
    {% endfor %}
</ul>
<form action="/platform" method="get" style="text-align: center">
    <button> Вернуться обратно </button>
</form>
{% endblock %}
