body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
}

header {
    color: #d9d9d9;
    padding: 10px 20px;
    text-align: center;
    background-image: url('images/backg.jpeg');
    background-position: 50% 0%
}

h1 {
    color: #d9d9d9
}

menu {
    background-color: #013a33;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/backg.jpeg');
    background-position: 50% 50%
}

main {
    background-color: #013a33;
    color: #a3a3a3;
    text-align: left;
    background-image: url('images/backg.jpeg');
    background-position: 50% 100%;
    padding: 10px
}

h3 {
    align: center;
    color: #d9d9d9;
}

ul {
    color: #d9d9d9;
    text-align: justify
    padding: 20px 10px;

}

a {
    color: #d9d9d9;
    text-decoration: none
}

p {
    margin: 5px;
    padding: 10px;
    font-size: 1.5rem
 }

li {
    margin: 5px;
    font-size: 20px
}

footer {
    text-align: center;
    padding: 20px
    }

button {
    background-color: #d9d9d9;
    font-size: 20px;
    color: #103026;
    font-weight: bolder;
    border-style: outset;
    border-width: medium;
    border-radius: 20px;

}